.footer {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    background: linear-gradient(0deg, #391D1E, #9F5255);
    width: 100%;
    justify-content: center;
    color: #FFF7EF;
  }