.header {
    display: flex;
    background: linear-gradient(180deg, #391D1E, #9F5255);
    width: 100%;
    color: #FFF7EF;
    font-size: 40px;
    height: 55px;
    justify-content: center;
    align-items: center;
  }